<Mutation mutation={ADD_CLEANER}>
  {(addCleaner, { data, error, loading }) => (
    <Form>
      {({ values }) => (
        <Field
          name="phone"
          component={renderInput}
          type="tel"
          placeholder="Phone"
          disabled={loading}
        />
        {data && data.addCleaner.cleaner && (
          <div>{`Thank you for your request ${
            data.addCleaner.cleaner.firstName
          }`}</div>
        )}
      )}
    </Form>
  )}
</Mutation>
