const DELETE_ASSIGNMENT = gql`
  mutation DeleteAssignment($orderId: ID!) {
    deleteAssignment(orderId: $orderId) {
      cleaner {
        ordersCount
      }
      order(orderId: $orderId) {
        id
      }
      notifications {
        id
        title
        htmlBody
      }
      penalties {
        id
        totalCents
      }
    }
  }
`;
