@font-face {
  font-family: 'MuseoSans';
  src: url('~fonts/museosans-500.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('~fonts/museosans-700.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('~fonts/museosans-900.woff') format('woff');
  font-weight: 900;
}
